In [1]:
import warnings
warnings.filterwarnings(action='ignore') #경고 메시지 무시

In [19]:
import pandas as pd
import geopandas as gpd
import fiona

In [22]:
import os
os.getcwd()

'c:\\Users\\soohan\\data-visualization\\plotly'

In [25]:
# CCTV CSV 로딩
df_cctv = pd.read_csv('../dataset/전국CCTV표준데이터.csv', index_col=None, header=0, 
                 names=['admin', 'addr1', 'addr2', 'usetype', 'cnt', 'pixel', 'azimuth', 'keep', 'inst_date', 'tel', 'lat', 'lon', 'up_date', 'offer_cd', 'offer'], 
                 usecols=['admin', 'addr1', 'lat', 'lon'], 
                 dtype={'admin':object, 'addr1':object, 'lat':float, 'lon':float},
                 encoding="EUC-KR")
df_cctv.head()

       admin addr1        lat         lon
0  경상남도 김해시청   NaN  35.249247  128.871639
1  경상남도 김해시청   NaN  35.247411  128.873605
2  경상남도 김해시청   NaN  35.261728  128.874144
3  경상남도 김해시청   NaN  35.247076  128.872461
4  경상남도 김해시청   NaN  35.241185  128.877334

In [26]:
df_cctv

            admin                       addr1        lat         lon
0       경상남도 김해시청                         NaN  35.249247  128.871639
1       경상남도 김해시청                         NaN  35.247411  128.873605
2       경상남도 김해시청                         NaN  35.261728  128.874144
3       경상남도 김해시청                         NaN  35.247076  128.872461
4       경상남도 김해시청                         NaN  35.241185  128.877334
...           ...                         ...        ...         ...
49995  서울특별시 강남구청  서울특별시 강남구 남부순환로 2911 (대치동)  37.492429  127.057956
49996  서울특별시 강남구청      서울특별시 강남구 삼성로 223(대치동)  37.496904  127.061635
49997  서울특별시 강남구청     서울특별시 강남구 삼성로 155 (대치동)  37.493881  127.062952
49998  서울특별시 강남구청     서울특별시 강남구 도곡로 458 (대치동)  37.498362  127.060469
49999  서울특별시 강남구청    서울특별시 강남구 영동대로 216 (대치동)  37.498403  127.069462

[50000 rows x 4 columns]